*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
}

.container{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    width: 350px;
}

.container img {
    border-radius: 50%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.container h3{
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 700;
}

p{
    text-transform: capitalize;
}

.p1{
    color: hsl(75, 94%, 57%);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin: 10px auto 20px;
}

.container .p2{
    color: hsla(0, 0%, 100%, 0.692);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 18px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.links button{
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 280px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}

@media (max-width: 375px) {
    .container{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    width: 300px;
}

.container img {
    border-radius: 50%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
    
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.links button{
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
}
}